@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4">Настраиваем игру...</h1>
    <hr />
    <div class="mt-5">
        <form asp-action="CreateConfigure" asp-controller="Home" method="post">
            <div class="form-group">
                <label class="font-weight-bold" for="playersCount">Количество игроков:</label>
                <input class="form-control mb-3 display-4" name="playersCount" type="text" required />
                <label class="font-weight-bold" for="countOfShots">Максимальное количество очков:</label>
                <input class="form-control mb-3" name="countOfShots" type="text" required />
                <button class="btn btn-success" type="submit">Начать!</button>
            </div>
        </form>
    </div>
    <hr />
</div>
